schema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Interest">
<xs:complexType>
<xs:sequence>
<xs:element name="Name of Student" type="xs:string"/>
<xs:element name="Area" type="xs:string"/>
<xs:element name="Name of faculty member" type="xs:string"/>
<xs:sequence>
<xs:complexType>
<xs:element>
<xs:schema>

